
.list{
transition: all 0.3s ease-in-out;
}
.list:hover{
    transform: translateX(6px);
    background-color: lightblue;
    transform: skewY(5deg);
    transform: translateY(-6px);
border: 1px solid black;

}

.mainbtn{
    position: relative;
}
.homenbtn{
    position: absolute;
    left: 0px;
}