
.card{
    width: 400px;
    border-radius: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.parent{
    background-color: aqua;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}